<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
     <h1>Курс "Промышленное программирование"</h1>
       <ul>
           <li>Первое число: {{ first_number }}</li>
           <li>Второе число: {{ second_number }}</li>
           <li>Их сумма равна: {{ total }}</li>
       </ul>
       <form method="get" action="{% url 'calc' %}">
           <input type="text" name="a" placeholder="Введите первое число">
           <input type="text" name="b" placeholder="Введите второе число">
           <button type="submit">Посчитать</button>
       </form>

    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'time' %}">Текущее время</a>
        <a href="{% url 'calc' %}">Калькулятор</a>
    </nav>
</body>
</html>