<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
</head>
<body>
    <h1>Курс "Промышленное программирование"</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Посчитать</button>
    </form>

    {% if result is not None %}
        <h2>Результат:</h2>
        <ul>
            <li>Первое число: {{ first_number }}</li>
            <li>Второе число: {{ second_number }}</li>
            <li>Их сумма равна: {{ total }}</li>
        </ul>
    {% endif %}

    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/time/">Текущее время</a></li>
            <li><a href="/calc/">Калькулятор</a></li>
        </ul>
    </nav>
</body>
</html>