<!DOCTYPE html>
   <html>
   <head>
       <meta charset="UTF-8">
       <title>Главная страница</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   </head>
   <body>
       <div class="container mt-4">
           <h1 class="text-center">Курс "Промышленное программирование"</h1>
           <p>Автор сайта: {{ author }}</p>
           <p>Количество страниц на сайте: {{ page_count }}</p>

           <nav class="mt-4">
               <ul class="nav">
                   <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                   <li class="nav-item"><a class="nav-link" href="/time/">Текущее время</a></li>
                   <li class="nav-item"><a class="nav-link" href="/calc/">Калькулятор</a></li>
                   <li class="nav-item"><a class="nav-link" href="{% url 'expression' %}">Выражение</a></li>
               </ul>
           </nav>
       </div>
   </body>
   </html>
