<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Текущее время</title>
</head>
<body>
    <h1>Текущее время</h1>
    <p>Дата: {{ current_date }}</p>
    <p>Время: {{ current_time }}</p>

    <nav>
    <ul>
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'time' %}">Текущее время</a></li>
        <li><a href="{% url 'calc' %}">Калькулятор</a></li>
        <li><a href="{% url 'expression' %}">Выражение</a></li>
    </ul>
</nav>
</body>
</html>