<!DOCTYPE html>
   <html lang="ru">
   <head>
       <meta charset="UTF-8">
       <title>Текущее время</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   </head>
   <body>
       <div class="container mt-4">
           <h1 class="text-center">Текущее время</h1>
           <p>Дата: {{ current_date }}</p>
           <p>Время: {{ current_time }}</p>

           <nav class="mt-4">
               <ul class="nav">
                   <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                   <li class="nav-item"><a class="nav-link" href="{% url 'calc' %}">Калькулятор</a></li>
                   <li class="nav-item"><a class="nav-link" href="{% url 'expression' %}">Выражение</a></li>
                   <li class="nav-item"><a class="nav-link" href="{% url 'new' %}">Добавление нового выражения</a></li>
               </ul>
           </nav>
       </div>
   </body>
   </html>